In [1]:
import json
import pandas as pd
import os

In [2]:
products = [("Product1", "15"), ("Product2", "25")]
pd.DataFrame.from_records(products)

          0   1
0  Product1  15
1  Product2  25

In [3]:
pd.DataFrame.from_records(products, columns=["Product", "Price"])

    Product Price
0  Product1    15
1  Product2    25

In [4]:
KEYS_TO_USE = ['id', "all_artists", "title", "medium", "acquisitionYear", "height", "width", "units"]

In [5]:
def get_record_from_file(file_path, keys_to_use):
    with open(file_path) as artwork_file:
        content = json.load(artwork_file)
        
    record = []
    for field in keys_to_use:
        record.append(content[field])
        
    return tuple(record)

In [7]:
SAMPLE_JSON = os.path.join("collection-master", "artworks", "a", "000", "a00001-1035.json")

sample_record = get_record_from_file(SAMPLE_JSON, KEYS_TO_USE)
sample_record

(1035,
 'Robert Blake',
 'A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch',
 'Watercolour, ink, chalk and graphite on paper. Verso: graphite on paper',
 1922,
 '419',
 '394',
 'mm')

In [10]:
def read_artworks_from_json(keys_to_use):
    
    JSON_ROOT = os.path.join("collection-master", 'artworks')
    
    artworks = []
    
    for root, _, files in os.walk(JSON_ROOT):
        for file in files:
            if file.endswith("json"):
                record = get_record_from_file(os.path.join(root, file), keys_to_use)
                
                artworks.append(record)
                
                break
    
    df = pd.DataFrame.from_records(artworks, columns=keys_to_use, index="id")
    
    
    return df

In [11]:
df = read_artworks_from_json(KEYS_TO_USE)
df

,all_artists,title,medium,acquisitionYear,height,width,units
id,,,,,,,
1035,Robert Blake,A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",1922,419,394,mm
20230,"Sir Edward Coley Burne-Jones, Bt",Study of Heads for a Piet√†,Graphite and chalk on paper,1927,154,136,mm
6725,Arthur Boyd Houghton,[title not known],Graphite on paper,1922,,,
7330,George Jones,[title not known],Ink on paper,1888,,,
7430,George Jones,[title not known],Ink on paper,1888,,,
...,...,...,...,...,...,...,...
118532,Trevor Bell,Place,Acrylic paint on paper,2012,980,750,mm
117815,Jiro Takamatsu,Shadow,Graphite on paper,2012,181,260,mm
117484,Shelagh Cluett,Flux III,"Steel, bitumen, latex, clay and cotton string",2012,950,2430,mm
89762,Robert Mangold,Red Wall,Oil paint on fibreboard,2013,2450,2450,mm
123531,"Birdhead (Ji Weiyu, born 1980; Song Tao, born ...",Welcome to Birdhead World Again,"6 photographs, cellulose print, black and whit...",2013,,,